<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Employee details data entry Home Page!</h1>
            Enter Name<input type="text" name="txtName" ><br><br>
            Enter age<input type="text" name="txtAge" ><br><br>
            Enter Salary<input type="text" name="txtSal" ><br><br><br>
            <input type="Submit" >    <input type="reset" >
    <p><a href="\home">Submit</a></p>
</body>
</html>